h1 {
	color:#FF69B4;
	font-weight:bold;
	font-family: 'Questrial', sans-serif;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size:30px;
}

p {
	color:#FF69B4;
	font-family: 'Raleway', sans-serif;
	font-size:25px;
}

h2 {
	color:orange;
}

title {
	font-family: 'Questrial', sans-serif;
}